html, body{
    margin: 0;
    padding: 0;
}

#scene{
    width: fit-content;
    background: url(source/mainScene_test.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.container{
    height:1780px;
    width:1000px;
    position: absolute;
    background: url(source/shade_2.png) no-repeat;
    background-size: cover;
    z-index: 3;
}

#caterpillar{
    width:900px; 
    height:300px; 
    overflow: hidden;
    position: absolute;
    top: 1250px;  
    left: 10%;  
    right: 0;  
    margin: 0;
    z-index: 2;
}

#bloodbar{
    width:900px; 
    height:100px; 
    position: absolute;
    top: 1600px;  
    left: 10%;  
    right: 0;  
    margin: 0;
    z-index: 2;
}

#tutorial{
    width:300px;
    height:300px;
    position:absolute;
    top:450px;
    left:55%;
    margin: 0;
    z-index:4;
}

#countdown{
    width:300px;
    height:300px;
    position:absolute;
    top:250px;
    margin: 0;
    z-index:0;
}

#countNum{
   font-size: 2cm;
   top:5%;
   left:15%;
   position:relative; 
   color: red; 
   font-weight:bold;
   z-index:1;
}

img {  
    max-height: 100%;  
    max-width: 100%; 
    position: absolute; 
    overflow: hidden; 
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: 0;
}